.menu {
    text-transform: uppercase;
}

.menu a {
    margin-left: 20px;
}

.logo img {
    height: 200px;
    width: 200px;
}

.sub-btn {
    border: 1px solid darkorange;
    padding: 6px 12px;
    border-radius: 25px;
    cursor: pointer
}